<menu [loggedIn]='loggedIn' [navIndex]='navIndex'></menu>
<div style="text-align: center; background: #E8E8E8; width: 100%; height: 250px;margin-bottom: 50px">
    <div class="container">
        <div>
            <img style="margin-top: 30px; width: 96px;height: 96px;border-radius: 50em;" src="/public/images/head.jpeg"/>
        </div>
        <div style="margin-top: 30px">
            <h1>Rick Lee</h1>
            <span>Code. Art.</span>
        </div>
    </div>
</div>
<router-outlet [route-will-load]="routeInit" (loginEmitter)='onLoggedIn($event)'></router-outlet>
<nav>
  <ul class="pager">
    <li [ngClass]="{disabled: currPage<=1}" (click)="onPrevious()"><a>Previous</a></li>
    <li (click)="onNext()" [ngClass]="{disabled: currPage>=totalPage}"><a>Next</a></li>
  </ul>
</nav>