<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!--The water curtain cave-->
                    <!--<img alt="Brand" src="...">-->
                </a>
            </div>
            <div id="bs-example-navbar-collapse-6" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li [ngClass]="{active: navIndex === 1}" (click)="onNav(1)"><a role="presentation" [routerLink]="['PostList']">Home</a></li>
                    <li [ngClass]="{active: navIndex === 2}" (click)="onNav(2)" *ngIf="loggedIn"><a role="presentation" [routerLink]="['PostAdd']">New</a></li>
                    <li [ngClass]="{active: navIndex === 3}" (click)="onNav(3)" *ngIf="!loggedIn" [routerLink]="['UserLogin']"><a>Login</a></li>
                    <li [ngClass]="{active: navIndex === 4}" (click)="onNav(4)" *ngIf="!loggedIn"><a role="presentation" [routerLink]="['UserRegistry']">Signup</a></li>
                </ul>  
            </div>
        </div>
    </nav>
</div>